<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

	  <!-- sidebar menu: : style can be found in sidebar.less -->
	  <ul class="sidebar-menu">

		<li class="active treeview">
		  <a href="http://romanisme.ro/igpr/index.php">
			<i class="fa fa-dashboard"></i> <span>Acasa</span>
		  </a>
		</li>

		<li>
		  <a href="#">
			<i class="fa fa-th"></i> <span>Administratie</span>
		  </a>
		  <ul>
			<li class="active"><a href="categorii_petitii.php"><i class="fa fa-circle-o"></i> Categorii de petitii</a></li>
			<li class="active"><a href="prioritate_petitii.php"><i class="fa fa-circle-o"></i> Prioritate petitii</a></li>
			<li><a href="institutii_responsabile.php"><i class="fa fa-circle-o"></i> Institutii responsabile</a></li>
		  </ul>
		</li>

		<li>
		  <a href="http://romanisme.ro/igpr/petitii_neprocesate.php">
			<i class="fa fa-th"></i> <span>Petitii neprocesate</span>
		  </a>
		</li>
		<li>
		  <a href="http://romanisme.ro/igpr/petitii_in_procesare.php">
			<i class="fa fa-th"></i> <span>Petitii in procesare</span>
		  </a>
		</li>
		<li>
		  <a href="http://romanisme.ro/igpr/petitii_solutionate.php">
			<i class="fa fa-th"></i> <span>Petitii solutionate</span>
		  </a>
		</li>
		<li>
		  <a href="http://romanisme.ro/igpr/useri.php">
			<i class="fa fa-th"></i> <span>Utilizatori inregistrati</span>
		  </a>
		</li>
		<li>
		  <a href="#">
			 <span>Export statistici</span>
		  </a>
		</li>
		<li>
		  <a (click)="logout()">
			 <span>Logout</span>
		  </a>
		</li>

	  </ul>
	</section>
	<!-- /.sidebar -->
</aside>